body{
    background-image: url(pliki/tlo.jpg);
    margin: 0;
    overflow: hidden;
}
#samolot{
    height: 50px;
    position: absolute;
}
#plansza{
    height: 100vh;
    width: 100%;
}
.stickman {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#przycisk{
    position: relative;
    left:47.5%;
    height: 50px;
    width: 5%;
    border-radius: 10px;
    background-color: rgb(20, 77, 151);
    border-width: 2px;
    font-size: larger;
    font-weight: bolder;
    color: burlywood;
    overflow: hidden;
}
#instrukcja{
    position: relative;
    left:0;
    top:0;
    color: black;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 20px;
}
#liczba{
    position: relative;
    left:0;
    text-align: center;
    color: rgb(235, 127, 127);
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 20px;
}
